<!DOCTYPE html>
<html lang="en">
    <head>  
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Predicting Fraud</title>
        <link rel="stylesheet" href="bulma/css/bulma.css"/>
        <link rel="stylesheet" href="stylesheets/styles.css"/>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
        <script src='javascripts/dynamic.js'></script>
        
    </head>
    <body>
        <section class="hero is-dark is-large" id="background">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title" id="mainTitle">
                        Predicting Transaction Fraud
                    </h1>
                    <h2 class="subtitle" id="mainSubtitle">
                        Using a machine learning model to analyze transaction data and predict potential fraud
                    </h2>
                </div>
            </div>
        </section>
        
        
        <section class="section has-background-white">
            <div class="container">
                <h1 class="title" id="testTitle">
                    Model Testing
                </h1>
                <h2 class="subtitle has-text-grey" id="testSubtitle">
                    Implementing a gradient boosting model in transaction analysis
                </h2>
                <div>
                    <p class="is-pulled-right" id="testSubtitle">Auto-Fraud</p>
                </div>
                <br>
                <br>
                <div class="is-pulled-right">
                    <label class="switch">
                        <input type="checkbox" id="checked12">
                        <span class="slider round"></span>
                    </label>
                </div>
                <br>
                <br>
                <div class="box has-background-light is-shadowless">

                    <div class="content" id="inputTitle">

                        <div class="columns is-multiline justify-center">

                            <div class="column">

                                <p>Card 1</p>

                                <input id="card1" class="input is-rounded" type="text" placeholder="ex: 123">

                            </div>

                            <div class="column">

                                <p>Card 2</p>

                                <input id="card2" class="input is-rounded" type="text" placeholder="ex: 123">

                            </div>

                            <div class="column">

                                <p>Card 3</p>

                                <input id="card3" class="input is-rounded" type="text" placeholder="ex: 123">

                            </div>

                            <div class="column">

                                <p>Card 5</p>

                                <input id="card5" class="input is-rounded" type="text" placeholder="ex: 123">

                            </div>

                            <div class="column">

                                <p>Transaction Amount</p>

                                <input id="transactionAmount" class="input is-rounded" type="text" placeholder="ex: $125.23">

                            </div>

                        </div>

                        <div class="columns is-multiline justify-center">

                            <div class="column">

                                <p>Transaction Date</p>

                                <input id="transactionDate" class="input is-rounded" type="text" placeholder="ex: 123">

                            </div>

                            <div class="column">

                                <p>Address</p>

                                <input id="address" class="input is-rounded" type="text" placeholder="ex: $125.23">

                            </div>

                            <div class="column">

                                <p>Distance 1</p>

                                <input id="distance1" class="input is-rounded" type="text">

                            </div>

                            <div class="column">

                                <p>Distance 2</p>

                                <input id="distance2" class="input is-rounded" type="text">

                            </div>

                            <div class="column">

                                <p>Hour</p>

                                <input id="hour" class="input is-rounded" type="text">

                            </div>

                        </div>

                        <div class="columns is-multiline justify-center">

                           <div class="column">

                                <p>Day</p>

                                <input id="day" class="input is-rounded" type="text">

                            </div>

                            <div class="column">

                                <p>Decimal</p>

                                <input id="decimal" class="input is-rounded" type="text">

                            </div>

                            <div class="column">

                                <p>D4</p>

                                <input id="d4" class="input is-rounded" type="text">

                            </div>

                            <div class="column">

                                <p>D2</p>

                                <input id="d2" class="input is-rounded" type="text">

                            </div>

                            <div class="column">

                                <p>D10</p>

                                <input id="d10" class="input is-rounded" type="text">

                            </div>

                        </div>

                        <div class="columns is-multiline justify-center">

                            <div class="column">

                                <p>D8</p>

                                <input id="d8" class="input is-rounded" type="text">

                            </div>

                            <div class="column">

                                <p>D1</p>

                                <input id="d1" class="input is-rounded" type="text">

                            </div>

                            <div class="column">

                                <p>D9</p>

                                <input id="d9" class="input is-rounded" type="text">

                            </div>

                            <div class="column">

                                <p>C13</p>

                                <input id="c13" class="input is-rounded" type="text">

                            </div>

                            <div class="column">

                                <p>C1</p>

                                <input id="c1" class="input is-rounded" type="text">

                            </div>

                        </div>

                        <div class="columns is-multiline justify-center">

                            <div class="column">

                                <p>C2</p>

                                <input id="c2" class="input is-rounded" type="text">

                            </div>

                            <div class="column">

                                <p>C4</p>

                                <input id="c4" class="input is-rounded" type="text">

                            </div>

                            <div class="column">

                                <p>C5</p>

                                <input id="c5" class="input is-rounded" type="text">

                            </div>

                            <div class="column">

                                <p>C6</p>

                                <input id="c6" class="input is-rounded" type="text">

                            </div>

                            <div class="column">

                                <p>C7</p>

                                <input id="c7" class="input is-rounded" type="text">

                            </div>

                        </div>

                        <div class="columns is-multiline justify-center">

                            <div class="column">

                                <p>C8</p>

                                <input id="c8" class="input is-rounded" type="text">

                            </div>

                            <div class="column">

                                <p>C9</p>

                                <input id="c9" class="input is-rounded" type="text">

                            </div>

                            <div class="column">

                                <p>C10</p>

                                <input id="c10" class="input is-rounded" type="text">

                            </div>

                            <div class="column">

                                <p>C11</p>

                                <input id="c11" class="input is-rounded" type="text">

                            </div>

                            <div class="column">

                                <p>C12</p>

                                <input id="c12" class="input is-rounded" type="text">

                            </div>

                        </div>

                    </div>

                </div>
                
                <div class="control">
                    <div class="field is-grouped is-grouped-centered">
                        <p class="control">
                            <button class="button is-dark is-rounded is-large" id="submitButton">
                                Submit
                            </button>
                        </p>
                    </div>
                </div>
                <br>
                <div class="section" id="modelOutput">
                    <p class="title has-text-centered" id="testTitle">Potential Fraud</p>
                    <progress class="progress is-warning is-large" value="50.0" id="prugressBur" max="100"></progress>
                    <p class="subtitle has-text-grey has-text-centered" id="detectionSubtitle">Based on the model, the transaction has an estimated 50% chance of being fraudulent.</p>
                </div>
            </div>
        </section>
        
        
        
        <section class="section has-background-white">
            <div class="container">
                <h1 class="title" id="testTitle">
                        Analysis
                </h1>
                <h2 class="subtitle has-text-grey" id="testSubtitle">
                    The data used to create this model came from the IEEE-CIS Fraud Detection competition on Kaggle.com
                </h2>
            </div>
            <br>
            <div class="columns is-multiline justify-center">
                <div class="column">
                    <div class="box has-background-light is-shadowless">
                        <p class="title has-text-centered" id="boxTitle">Accuracy</p>
                        <p2>After data cleaning, feature engineering, and several iterations of training, this model achieved a 0.9604 ROC-AUC score on a 33% holdout dataset. We chose this metric because the competition evaluated models based off AUC scores, allowing us additional data to test on. When tested against this larger holdout set provided by Kaggle, the model achieved an accuracy of 0.913. This accuracy score has the potential to improve with further development, feature engineering, and more time/computational resources to train. We believe this model has a high potential for practical applications, given that innovation in this area would lead to reducing fraudulent activity and improving customer experience.</p2>
                    </div>
                </div>
                <div class="column">
                    <div class="box has-background-light is-shadowless">
                        <p class="title has-text-centered" id="boxTitle">Features</p>
                        <figure class="image">
                            <img width="200px" height="200px" src="images/feature_importance.png">
                        </figure>
                    </div>
                </div>
            </div>
            <div class="columns is-multiline justify-center">
                <div class="column">
                    <div class="box has-background-light is-shadowless">
                        <p class="title  has-text-centered" id="boxTitle">Engineered Feature #1</p>
                        <p2>The possibilities for feature engineering in this dataset were numerous, however hindered by the lack of column labels(due to privacy agreements with the data source's customers). We deduced that TransactionDT is a time variable measured in minutes(86400 is the number of minutes in a day). From this variable, we engineered two additional features: hour of day and day of week. These two features seemed potentially useful in the case that fraudulent activity had some correlation with or clustered around these variables. The labels 'hour' and 'day' in the feature importance graph above are indicative of these features. As you can see, both made meaningful contributions to the model(totaling a .009 ROC-AUC score increase).</p2>
                    </div>
                </div>
                <div class="column">
                    <div class="box has-background-light is-shadowless">
                        <p class="title  has-text-centered" id="boxTitle">Engineered Feature #2</p>
                        <p2>Our second engineered feature was facilitated by a question on the Kaggle message board asking about cases where the transaction amount contained three decimal places. We decided that the prescence of more than 2 decimal places was indicative of a foreign transaction being multiplied by an currency exchange rate, effectively giving us a feature detecting use of another currency. Because a large amount of column names are missing, there is no way to determine if some feature already exists in the data set which indicates foreign activity. However, we found this feature to be highly independent of other variables and a valuable addition to the dataset with an ROC-AUC increase of 0.0067. </p2>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="section has-background-white">
            <div class="container">
                 <h1 class="title has-text-dark" id="testTitle">
                    Next Steps
                </h1>
                <div class="container">
                    <div class="box is-shadowless" id="list">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-64x64">
                                    <img src="https://visualpharm.com/assets/886/Number%201-595b40b75ba036ed117d784f.svg" alt="Image">
                                </figure>
                            </div>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    As we attempt to bring this product to market, the clear first step is to continue improving our model. With a ROC-AUC score of 0.9604, we've made a great start, however there are many more ways we can boost the fidelity of our model. We will continue to engineer new features, as the two we had time to attempt made valuable contributions to our model. We will also attempt to locate relevant outside data sources to implement and interpret existing data. For example, one existing column is device type; converting this column to display operating system may yield interesting results. The last step we will take to improve our predictions is blending multiple uniquely-optimized models together for marginal gains over each other. We believe with more time we can notably improve the predictions of this already significant model.
                                </p>
                            </div>
                        </div>
                        </article>
                    </div>
                     <div class="box is-shadowless" id="list">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-64x64">
                                    <img src="https://visualpharm.com/assets/674/Number%202-595b40b75ba036ed117d785a.svg" alt="Image">
                                </figure>
                            </div>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    The next step on the road to marketability is to interact with Vesta, the corporation which hosted the Kaggle data challenge. The most direct route to market would be to partner with Vesta to help them predict transaction fraud. This, of course, assumes that we can improve our models to the highest accuracy they have seen. Even if this is unlikely, it is worth pursuing if simply to gain insight into the data Vesta collects. If we can connect our predictive features with data collected on Vesta, we can continue to bring this product to market in other ways. Namely, we can create valuable insights for other banking/transaction-based companies to implement in their own detection.
                                </p>
                            </div>
                        </div>
                        </article>
                    </div>
                    <div class="box is-shadowless" id="list">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-64x64">
                                    <img src="https://visualpharm.com/assets/450/3%20C-595b40b75ba036ed117d7863.svg" alt="Image">
                                </figure>
                            </div>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    The final step to bring this product to market is to pitch our improved model to various banking/payment companies. If we are able to determine the relevant data which correlate to our features or implement a new model on a company's data, we have a simple path to pitching our product. It is also possible that we can use our model to visualize localaties in which fraud occurs frequently and analyze the confluence of variables. There are several potential ways to implement this product in relevant businesses and we look forward to exploring those options.
                                </p>
                            </div>
                        </div>
                        </article>
                    </div>
                </div>
            </div>
        </section>

        <section class="section has-background-light">
            <div class="container">
                <h1 class="title has-text-dark" id="testTitle">
                    Project Info
                </h1>
                <p id="bottomSubtitle" class="has-text-centered has-text-dark"><p2 class="has-text-weight-bold">Created by</p2> Nick Egnatz and Justin Schmitt</p>
                <br>
                <div class="columns is-multiline justify-center">
                    <div class="column is-one-third is-centered">
                        <a class="is-centered" href="https://www.github.com/jschmitt1/hacknc2019" target="_blank"><img id="githubImage" class="image bottom-image" height="140" width="140" src="images/github.png"></a>
                    </div>
                    <div class="column is-one-third is-centered">
                        <a class="is-centered" href="https://bulma.io/" target="_blank"><img class="image bottom-image" src="images/bulma.png"></a>
                    </div>
                    <div class="column is-one-third is-centered">
                        <a class="is-centered" href="https://mlh.io/" target="_blank"><img class="image is-centered bottom-image" src="images/majorLeagueHacking.png" height="160" width="300"></a>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>